HW 1 - Question1

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the data
league_df = pd.read_csv('HW1_data.csv')

1. We have  684 observations

In [78]:
league_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   league    684 non-null    object
 1   year      684 non-null    int64
 2   position  684 non-null    int64
 3   team      684 non-null    object
 4   matches   684 non-null    int64
 5   wins      684 non-null    int64
 6   draws     684 non-null    int64
 7   loses     684 non-null    int64
 8   scored    684 non-null    int64
 9   conceded  681 non-null    float64
 10  pts       684 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 58.9+ KB

2. Categorical fields:
    - League
    - Team

    Numerical fields:
    - Year
    - Position
    - Matches
    - Wins
    - Draws
    - Loses
    - Scored
    - Conceded
    - Pts

In [79]:
league_df.dtypes

league       object
year          int64
position      int64
team         object
matches       int64
wins          int64
draws         int64
loses         int64
scored        int64
conceded    float64
pts           int64
dtype: object

Number of League unique values: 6
Number of Team unique values: 168

In [80]:
print("Number of league unique values:", league_df["league"].nunique(), "\n")

print("Number of Teams unique values:", league_df["team"].nunique())

Number of league unique values: 6

Number of Teams unique values: 168

The fields with null values are: 
- conceded:
    There are only 3 missing (null) values

In [81]:
league_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   league    684 non-null    object
 1   year      684 non-null    int64
 2   position  684 non-null    int64
 3   team      684 non-null    object
 4   matches   684 non-null    int64
 5   wins      684 non-null    int64
 6   draws     684 non-null    int64
 7   loses     684 non-null    int64
 8   scored    684 non-null    int64
 9   conceded  681 non-null    float64
 10  pts       684 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 58.9+ KB

5. The number of teams in each league:
   - Bundesliga:    24
   - EPL:           30
   - La_liga:       30
   - Ligue_1:       29
   - RFPL:          25
   - Serie_A:       30

The minimum number of teams in a league is - 24

In [82]:
teams_in_league = league_df.groupby("league")["team"].nunique()
print(teams_in_league, "\n")

print("The minimum number of teams in a league is", teams_in_league.min())

league
Bundesliga    24
EPL           30
La_liga       30
Ligue_1       29
RFPL          25
Serie_A       30
Name: team, dtype: int64

The minimum number of teams in a league is 24

7. The league with the biggest gap between the higest median number of goal and the lowest one is Ligue_1 with the higest one in 2018 and lowest one in 2019

In [89]:
league_gb = league_df.groupby(['league', 'year'])['scored'].median()
print(league_gb)

league      year
Bundesliga  2014    44.0
            2015    44.0
            2016    44.5
            2017    43.5
            2018    53.0
            2019    48.0
EPL         2014    46.5
            2015    48.5
            2016    47.5
            2017    44.5
            2018    51.5
            2019    46.5
La_liga     2014    43.0
            2015    45.5
            2016    53.0
            2017    46.5
            2018    47.0
            2019    46.0
Ligue_1     2014    44.0
            2015    46.0
            2016    42.5
            2017    45.5
            2018    46.0
            2019    33.0
RFPL        2014    31.0
            2015    34.5
            2016    30.5
            2017    31.5
            2018    30.5
            2019    36.5
Serie_A     2014    49.0
            2015    46.5
            2016    56.0
            2017    51.0
            2018    51.5
            2019    51.5
Name: scored, dtype: float64